@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Редактирование документа</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.DocumentId" name="DocumentId" />
            <table>
                <tr>
                    <td>Название:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Текст:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr><td><input type="submit" value="Сохранить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>