@model IEnumerable<DocumentsEditor.Models.Document>
@{
    ViewData["Title"] = "Home Page"; 
}

<h3>Документы</h3>
<a asp-action="CreateDocument">Добавить документ</a>
<table class="table">
    <tr>
        <td>Название</td>
        <td/>
        <td/>
    </tr>
    @foreach (var doc in Model)
    {
        <tr>
            <td>@doc.Name</td>
            <td><a asp-action="EditDocument" asp-route-id="@doc.Id">Редактировать</a></td>
            <td><a asp-action="DeleteDocument" asp-route-id="@doc.Id">Удалить</a></td>
        </tr>
    }
</table>

