@model DocumentsEditor.Models.User
@{
    ViewData["Title"] = "Редактирование документа";
}

<form asp-route-id="@Model.Id">
    <div class="form-group">
        <h3 class="control-label">Внести</h3><br/>
        <input type="number" asp-for="Balance" />
    </div>
    <div class="form-group">
        <input type="submit" value="Оплатить" class="btn btn-outline-dark" />
    </div>
    <input type="hidden" asp-for="Id" />
</form>